.buildsList {
  background-color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;

  &__header {
    margin-top: 2em;
    display: block;
  }

  &__list {
    min-height: 30rem;
    overflow: auto;
    width: 90%;
  }

  .list {
    &__table-cotainer {
      height: 400px;
      overflow: auto;
      box-sizing: border-box;
    }

    &__message {
      width: 70%;
    }


    &__pagination {
      text-align: center;
    }
  }

  .active {
    background-color: #e7dfcc;
  }
}
