<div class="buildsList">

  <h2 class="buildsList__header">
    Ruby Sinatra last successfull builds:
  </h2>

  <section class="buildsList__list" st-table="$ctrl.builds" st-pipe="$ctrl.pipe">
    <div class="list__table-cotainer">
      <table class="list__table">
        <thead>
          <tr>
        		<th colspan="5">
        			<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
        		</th>
        	</tr>
          <tr>
            <th>
              Branch
            </th>
            <th class="list__message">
              Message
            </th>
            <th>
              Number
            </th>
            <th>
              Event Type
            </th>
            <th>
              Duration
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="build in $ctrl.builds">
            <td>
              {{build.branch}}
            </td>
            <td>
              {{build.message}}
            </td>
            <td>
              {{build.number}}
            </td>
            <td>
              {{build.event_type}}
            </td>
            <td>
              {{build.duration}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="list__pagination" st-pagination="" st-items-by-page="$ctrl.itemsByPage" st-displayed-pages="$ctrl.dispalyedPages"></div>
  </section>
</div>
